body{
    font-family: 'Inter', sans-serif;
    background: #E9E9E9;
    padding-left: 58px;

}

h1{
color: #FF3030;
font-size: 72px;
font-weight: 500;
padding-bottom: 20px;
padding-top: 98px;
word-wrap: break-word;
}

p{
color: black;
font-size: 24px;
font-weight: 400;
padding-bottom: 34px;
word-wrap: break-word;   

}
section{
    display: table;
    width: 35%;
  }
 em{
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-style: italic;
    font-weight: 400;
    word-wrap: break-word;
  }
  h2{
color: #2F80ED;
font-size: 52px;
font-weight: 500;
padding-top: 18px;
padding-bottom: 32px;
word-wrap: break-word
  }
  h3{
color: #F2994A;
font-size: 36px;
font-weight: 400;
padding-bottom: 20px;
word-wrap: break-word
  }
 span{
  color: black;
font-size: 24px;
font-weight: 400;
padding-bottom: 48px;
word-wrap: break-word
 } 
 section p{
  color: black;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 40px;
  word-wrap: break-word
 }
 